
<h2>Hello!</h2>


<p>Here's your meals!</p>
    <h5><%= @meal.meal_time %>  

    <br><h6><%= @meal.name %></h6>

    <p><%= @meal.ingredients %>


<% if @meal.photo != "" %>
    <%= @meal.photo %>
 <%end%>
<br><% if authorized_to_edit?(@meal) %>
     <a href="<%= @meal.id %>/edit"> Edit Meal</a>
    <br>
     <form action="/meals/<%= @meal.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
     </form>
    
<% end %>


