
<h2>Hello!</h2>


<p>Here's your meals!</p>
    <h5><%= @meal.meal_time %>  

    <br><h6><%= @meal.name %></h6>

    <p><%= @meal.ingredients %>


<% if @meal.photo != "" %>
    <%= @meal.photo %>

<br><% if authorized_to_edit?(@meal) %>
     <a href="<%= @meal.id %>/edit"> Edit Meal</a>
     <% end %>
<% end %>


