
<h3><%= @meal.name.capitalize %> for <%= @meal.meal_time.capitalize %></h3>
      <p>What you need:
   <br>
      <%= @meal.ingredients %>
<!--
display meal under specific day based on button selected
-->
<!-- has forms for buttons with different days for action to post under sunday in meal_week view
if breakfast, list under breakfast.. etc-->
<!--
 <% if @meal.photo != "" %>
        <p><img src="<%=@meal.photo %>">
<br><h6><label for="photo"> A picture of your <%= @meal.name %>. </label></h6>
<% end %>
--> 
<br><br>
      <% if authorized_to_edit?(@meal) %>
         <a href="<%= @meal.id %>/edit"> Edit Meal</a>
      <br>
         <form action="/meals/<%= @meal.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
         </form>
    
      <% end %>


