
<h3><%= @meal.name %></h3>
<p><%= @meal.meal_time %>  </p>
<p>What's in the meal?
<br><%= @meal.ingredients %></p>

<!--
 <% if @meal.photo != "" %>
        <p><img src="<%=@meal.photo %>">
<br><h6><label for="photo"> A picture of your <%= @meal.name %>. </label></h6>
<% end %>
--> 
<br><% if authorized_to_edit?(@meal) %>
     <a href="<%= @meal.id %>/edit"> Edit Meal</a>
    <br>
     <form action="/meals/<%= @meal.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
     </form>
    
<% end %>


