
<h2>Hello!</h2>

<p><%= @meal.name %></p>
<p><%= @meal.meal_time %>  </p>
<p><%= @meal.ingredients %></p>


<% if @meal.photo != "" %>
    <%= @meal.photo %>
 <%end%>
<br><% if authorized_to_edit?(@meal) %>
     <a href="<%= @meal.id %>/edit"> Edit Meal</a>
    <br>
     <form action="/meals/<%= @meal.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
     </form>
    
<% end %>


